@media (max-width: 600px) {
  .img-fluid {
    height: 325px;
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  .img-fluid {
    height: 300px;
  }
}

@media (min-width: 1111px) {
  .img-fluid {
    max-width: 100%;
    height: 450px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .img-fluid {
    height: 275px;
  }
}

@media (max-width: 500px) {
  #sendMessageButton-2 {
    width: 200px;
    float: left;
    padding: 4px;
    margin: 10px 2px;
  }
}

#imageChooser {
}

#imageChooser {
  float: left;
  display: inline-block;
  width: 48%;
}

@media (max-width: 500px) {
  #imageChooser {
    width: 325px;
  }
}

@media (min-width: 501px) {
  #sendMessageButton-2 {
    float: right;
  }
}

#divContainingCarousel {
  height: 1000px;
  color: var(--bs-indigo);
  background: var(--bs-gray-600);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  #divContainingCarousel {
    height: 380px;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  #divContainingCarousel {
    height: 600px;
  }
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

